<h2>Dashboard</h2>
<hr />
<ng-container *ngIf="chartData; else noChart">
  <div class="d-flex flex-wrap">
    <div *ngIf="chartData?.today" class="flex-50">
      <app-pie-chart [data]="chartData?.today" chartId="1" chartLabel="Today's Orders VS Payments">
      </app-pie-chart>
    </div>
    <div *ngIf="chartData?.last7" class="flex-50">
      <app-pie-chart [data]="chartData?.last7" chartId="2" chartLabel="Last 7 day's Orders VS Payments">
      </app-pie-chart>
    </div>
  </div>
  <div class="d-flex flex-wrap">
    <div *ngIf="chartData?.month" class="flex-50">
      <app-pie-chart [data]="chartData?.month" chartId="3" chartLabel="This Month's Orders VS Payments">
      </app-pie-chart>
    </div>
    <div *ngIf="chartData?.year" class="flex-50">
      <app-pie-chart [data]="chartData?.year" chartId="4" chartLabel="This Year's Orders VS Payments">
      </app-pie-chart>
    </div>
  </div>
  <hr />
</ng-container>
<ng-template #noChart>
  <h2>Not enough data to display charts</h2>
  <hr />
</ng-template>
<!-- Orders table start -->
<div>
  <h4>
    <select [(ngModel)]="orderRangeType" (change)="fetchOrders()">
      <option *ngFor="let range of DateRangeValues" value="{{ range }}">{{ range }}'s</option>
    </select>
    orders
  </h4>
  <table class="table text-center">
    <thead>
      <tr>
        <th>S No.</th>
        <th>Order Time</th>
        <th>Items</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!todayOrders || todayOrders?.length < 1">
        <td colspan="3">No records</td>
      </tr>
      <tr *ngFor=" let order of todayOrders; let i=index;">
        <td>{{i + 1}}</td>
        <td>{{ order?.orderDateTime | date: 'medium'}}</td>
        <td class="text-left">
          <ul>
            <li *ngFor="let item of order?.items">{{item?.name}} - {{item?.price}}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Orders table end -->
<!-- Payments table start -->
<div>
  <h4>
    <select [(ngModel)]="paymentRangeType" (change)="fetchPayments()">
      <option *ngFor="let range of DateRangeValues" value="{{ range }}">{{ range }}'s</option>
    </select>
    payments
  </h4>
  <table class="table text-center">
    <thead>
      <tr>
        <th>S No.</th>
        <th>Order Time</th>
        <th>Items</th>
        <th>Payment Time</th>
        <th>Paid / Returned Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!todayPayments || todayPayments?.length < 1">
        <td colspan="5">No records</td>
      </tr>
      <tr *ngFor=" let payment of todayPayments; let i=index;">
        <td>{{i + 1}}</td>
        <td>{{ payment?.order?.orderDateTime | date: 'medium'}}</td>
        <td class="text-left">
          <ul>
            <li *ngFor="let item of payment?.order?.items">{{item?.name}} - {{item?.price}}</li>
          </ul>
        </td>
        <td>{{ payment?.paymentDateTime | date: 'medium' }}</td>
        <td>{{ payment?.paidAmount }} / {{ payment?.returnedAmount }}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Payments table end -->
